.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  padding: 0 10px;
  border-radius: 5px;
  @media screen and (min-width: 1024px) {
    height: 52px;
  }
  h3 {
    color: white;
    font-size: 13px;
    font-weight: 700;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }
  .dropdown-icon {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
  .rotated {
    transform: rotate(-180deg);
  }
}

.dropdown-content-mask {
  overflow: hidden;
  height: auto;
}

.dropdown-content {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
  background: rgba(246, 246, 246, 0.45);
  border-radius: 0 0 5px 5px;
  padding: 10px;

  .dropdown-text {
    color: #ff6060;
    font-size: 12px;
    font-weight: 400;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }

  &.opened {
    transform: translateY(0);
    opacity: 1;
  }

  &.closing {
    transform: translateY(-100%);
    opacity: 0;
  }
}

#equipements {
  padding: 10px 20px 19px 20px;
  font-size: 12px;
  font-weight: 400;
}
