.main-logements {
  padding: 27px 20px;

  @media screen and (min-width: 1024px) {
    padding: 50px 100px;
  }

  .logement-title {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    @media screen and (min-width: 1024px) {
      font-size: 36px;
    }
  }
}

.logement-content {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    padding: 30px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logement-head {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    padding-bottom: 24px;
    flex: 1 0 0;
  }
}

.logement-location {
  font-size: 14px;
  font-weight: 500;
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}

.tags-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  gap: 10px;
  flex-wrap: wrap;
  @media screen and (min-width: 1024px) {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 0;
  }
}
.tag {
  height: 18px;
  display: flex;
  padding: 2px 29px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ff6060;
  font-size: 10px;
  color: white;
  font-weight: 700;
  @media screen and (min-width: 1024px) {
    height: 25px;
    font-size: 0.875em;
    border-radius: 10px;
  }
}

.host-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
  @media screen and (min-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 21px;
    padding-right: 3px;
  }
}

.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  order: 2;
  @media screen and (min-width: 1024px) {
    order: 1;
  }
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    order: 2;
    @media screen and (min-width: 1024px) {
      width: 64px;
      height: 64px;
    }
  }
  h3 {
    color: #ff6060;
    font-size: 12px;
    font-weight: 500;
    order: 1;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
}

.host-rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 98px;
  height: 18px;
  @media screen and (min-width: 1024px) {
    justify-content: flex-end;
  }
  .star-icon {
    width: 13px;
    height: 13px;
    @media screen and (min-width: 1024px) {
      width: 25px;
      height: 24px;
    }
  }
  .star-filled path {
    color: #ff6060;
  }
  .star-empty path {
    fill: #e3e3e3;
  }
  @media screen and (min-width: 1024px) {
    order: 2;
    width: 196px;
    height: 36px;
  }
}

.logement-dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    .container {
      flex: 1 0 0;
    }
  }
}

.loading::after {
  content: "Loading...";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ff6060;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  background: white;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-ended::after {
  opacity: 0;
  z-index: -1;
}
