footer {
  width: 100%;
  padding: 66px 120.313px 58px 121.094px;
  background-color: black;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      gap: 28px;
    }
    .svg-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      width: 122px;
      #svg1 {
        width: 31.515px;
        height: 36.113px;
      }
      #svg2 {
        width: 26.708px;
        height: 30.954px;
      }
      #svg3 {
        width: 22.862px;
        height: 27.843px;
      }
      #svg4 {
        width: 23.716px;
        height: 27.944px;
      }
    }

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 133.594px;
      height: 46px;
      @media screen and (min-width: 1024px) {
        width: 100%;
      }
    }
    h3 {
      text-align: center;
      color: white;
      font-size: 12px;
      font-weight: 500;
      @media screen and (min-width: 1024px) {
        font-size: 24px;
      }
    }
  }
}
